/* Tailwind Intellisence */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Google Fonts - Poppins & EB Garamond */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:wght@400;500;600&display=swap');


/* Global CSS */
.font-poppins{
    font-family: "Poppins", serif;
}
.font-eb-garamond{
    font-family: "EB Garamond", serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "EB Garamond", serif;
    color: #414040;
}